doctype html
html(lang="en")
	head
		title Controller
		meta(charset="UTF-8")
		meta(content="IE=edge", http-equiv="X-UA-Compatible")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
		meta(content='True', name='HandheldFriendly')
		meta(name="mobileoptimized", content="0")
		link(href="/css/build/controller.css", rel="stylesheet")
		script(src="/js/lib/jquery-2.1.0.min.js")
		script(src="/js/lib/socket.io-1.2.0.js")
		script(src="/js/build/bot.js")
		script.
			var roomId = #{roomId}
	body
		.container
			.control-wrap
				.left-control.control
					.text Move
			.control-wrap
				.right-control.control
					.text Fire
			.color
