h1 Welcome to tank.ly
p multiplayer almoust offline game)
p To play this game you need more or less modern smartphone with touchscreen, that supports multitouch. I recommend to open given URL in Chrome browser.
p
	| How to play - open&nbsp
	a(href="/screen.html") screen
	|  and press QR icon. Alternativly you can type link directly.