doctype html
html
	head(lang="en")
		meta(charset="UTF-8")
		title Tank.ly | Home
		script(src="/js/lib/jquery-2.1.0.min.js")
		script(src="/js/build/home.js")
	body
		p.
			Welcome to Tank.ly! The game, where you can play tanks and control them with smartphones!
		p.
			Just create or join existing room, read QR code or enter room by direct url from your mobile browser and that's it! Enjoy! Recommended mobile browser id Chrome.

	ul#rooms