doctype html
html
	head
		meta(charset="UTF-8")
		title Tank.ly
		link(rel="stylesheet", href="/css/build/screen.css")
		script.
			var roomId = #{roomId}
		script(src="/js/lib/socket.io-1.2.0.js")
		script(src="/js/lib/phaser.min.js")
		script(src="/js/lib/lodash.min.js")
		script(src="/js/game.js")
		script(src="/js/index.js")
		script(src="/js/lib/jquery-2.1.0.min.js")
		script(src="/js/lib/jquery.qrcode-0.11.0.min.js")
		script(src="/js/build/host.js")
	body
		.menu
			p Room ##{roomId}
			#qr
